canvas {
  border: 1px solid rgba(66, 134, 244, 0.8);
}

.bottomFloat {
  position: relative;
  bottom: 25px;
  width: 100%;
}

@media only screen and (max-width: 1750px) {
  .blackBC h1 {
    font-size: 1.2em !important;
  }

  .blackBC h3 {
    font-size: 1.2em !important;
  }
}

@media only screen and (max-width: 1450px) {
  .container.blackBC div.column:nth-child(2),
  .container.blackBC div.column:nth-child(4) {
    display: none !important;
  }

  .container .blackBC div.column:nth-child(2),
  .container .blackBC div.column:nth-child(4) {
    display: none !important;
  }
  .container .black {
    width: 13.8% !important;
  }
}
